@import url('https://fonts.googleapis.com/css2?family=Forum&family=Libre+Baskerville:wght@700&family=Orbitron:wght@800&display=swap');

.font-style {
  font-family: 'Forum', cursive;
}

.aboutOuter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    .divider {
      h1 {
        @extend .font-style;
        font-size: 3.75rem;
      }
      display: flex;
      align-items: center;
      color: white;
      margin: 1rem; 
      width: 90%;
  
      .line {
        flex: 1;
        border: none;
        border-top: 1px solid white; 
      }
    }

    .aboutOuterText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 85vw;
        padding-left: 3rem;
        padding-right: 3rem;

        .aboutText {
          font-size: 1.4rem;
          padding: 0.5rem;
          color: white;
        }
    }
  
    .aboutPhotosOuter {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70vw;
        height: auto;
        margin-top: 1rem;
        background-color: gray;
        border-radius: 10px;
        box-shadow: 0 3px 15px rgb(0 0 0 / 0.2);

        @media (min-width: 588px) {
          max-width: 400px;  /* adjust this value to suit your needs */
          width: 100%;
        }
        
        .aboutPhotosHeader {
        @extend .font-style;
        width: 100%;
        height: 10%;
        padding: 1rem;
        color: white;
        border-bottom: 1px solid white;
        background-color: rgb(33, 33, 33);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

        }

        .aboutMainPhoto {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 90%;
            height: 20rem;
            margin-top: 2rem;

            p {
              font-size: 1.15rem;
            }
        }

        .caption {
            margin: 1%;
            text-align: center;
            color: whitesmoke;
        }

        .grid {
            margin: 1rem;
        }


    }
  }
  
  