@import url('https://fonts.googleapis.com/css2?family=Forum&family=Libre+Baskerville:wght@700&family=Orbitron:wght@800&display=swap');

.font-style {
  font-family: 'Forum', cursive;
}

.contactOuter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;

    .divider {
      display: flex;
      align-items: center;
      color: white;
      margin: 1rem; 
      width: 90%;

      h1 {
        @extend .font-style;
        font-size: 3.75rem;
      }

      .line {
        flex: 1;
        border: none;
        border-top: 1px solid white; 
      }
    }
    .emailOuter {
      display: flex;
      flex-direction: column;
      text-align: left;
      width: 80vw;
      .label {
        color: white;
  
      }
      .emailInput {
        width: 60%;
        margin-bottom: 1rem;
      }

      .subjectInput {
        margin-bottom: 1rem;
      }
    }
}