@import url('https://fonts.googleapis.com/css2?family=Forum&family=Libre+Baskerville:wght@700&family=Orbitron:wght@800&display=swap');

.font-style {
  font-family: 'Forum', cursive;
}

.contactOuter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;

    .divider {
      display: flex;
      align-items: center;
      color: white;
      margin: 1rem; 
      width: 90%;

      h1 {
        @extend .font-style;
        font-size: 3.75rem;
      }

      .line {
        flex: 1;
        border: none;
        border-top: 1px solid white; 
      }
    }

    .emailOuter {
      display: flex;
      flex-direction: column;
      text-align: left;
      width: 80vw;
      margin: 2rem;

      .label {
        @extend .font-style;
        color: white;
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      .emailInput {
        width: 70%;
        margin-bottom: 2rem;
        font-size: 2rem;
        border-radius: 5px;
        padding: 0.3rem;
      }

      .subjectInput {
        margin-bottom: 2rem;
        font-size: 2rem;
        border-radius: 5px;
        padding: 0.3rem;
      }

      .messageInput {
        height: 20rem;
        font-size: 2rem;
        padding: 0.5rem;
        border-radius: 5px;
      }
    }
}