@use "fonts";
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Libre+Baskerville:wght@700&family=Orbitron:wght@800&display=swap');

.font-style {
  font-family: 'Forum', cursive;
}

* {
  @extend .font-style;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-feature-settings: "cv01" 1, "cv03" 1, "cv04" 1, "cv05" 1, "cv06" 1,
    "cv08" 1, "cv09" 1, "cv10" 1;
}

html {
  font-size: 62.5%;
  background-color: #363636;
}
