.main {
  font-size: 3rem;
  font-weight: 900;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navbar {
  background-color: #2d1850;
  position: relative;
  z-index: 250;

  .navbarContents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
}



.photo_and_tech {
  display: flex;
  flex-direction: column;
  align-items: center;

  .photo {
    display: flex;
    justify-content: center;

    .image {
      width: auto;
      height: 16rem;
      margin-top: 2rem;
    }
  }
}

.links {
  font-size: 2rem;
  color: white;
  margin: 35%;
}

.logoImage {
  height: 100%;
  width: auto;
}