.main {
  font-size: 3rem;
  font-weight: 900;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navbar {
  background-color: #2d1850;
  position: relative;
  z-index: 250;

  .navbarContents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
}



.photo_and_tech {
  display: flex;
  flex-direction: column;
  align-items: center;

  .photo {
    display: flex;
    justify-content: center;

    .image {
      width: auto;
      height: 25vh;
      border-radius: 50%;
      margin-top: 2rem;
    }
  }
}

.link {
  width: 100%;
  border-bottom: 1px solid white;
  margin-top: 20%;
  display: flex;
  justify-content: center;

  .linkText {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  margin-bottom: 20%;
  }
}

.logoImage {
  height: 100%;
  width: auto;
}