@import url('https://fonts.googleapis.com/css2?family=Forum&family=Libre+Baskerville:wght@700&family=Orbitron:wght@800&display=swap');

.font-style {
  font-family: 'Forum', cursive;
}

.main {
  font-size: 3rem;
  font-weight: 900;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.navbar {
  background-image: linear-gradient(to right, indigo , #2d1850);
  z-index: 250;
  position: fixed;
  top: 0;

  .navbarContents {
    display: flex;
    justify-content: space-between;
    color: white;

    .navbarLogo {
      width: 6rem;
      height: 6rem;
      display: flex;
      margin: 3%;
    }
  }
}

.photo_and_tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;

  h2 {
    @extend .font-style;
    font-size: large;
  }
  
  .photo {
    display: flex;
    justify-content: center;

    .image {
      width: auto;
      height: 25vh;
      border-radius: 50%;
      margin-top: 2rem;
    }
  }
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10rem;
    width: 30rem;
    border-radius: 15px;
    color: white;
  }

  .tech_header {
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 12%;
    margin-bottom: -5%;
    color: white;
    font-size: small;
  }
}

.link {
  width: 100%;
  border-bottom: 1px solid white;
  margin-top: 20%;
  display: flex;
  justify-content: center;

  .linkText {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  margin-bottom: 20%;
  }
}

.logoOuter {
  height: 10rem;
  width: 10rem;

  .logoImage {
    width: auto;
    height: 100%;
    object-fit: contain;
  }

}

